<button mat-raised-button  (click) = "back()">Back</button>
<div *ngIf="data" class="container">
    <div>
        <div class="imageContainer">
            <img style="width: inherit;" *ngIf="data.imageUrl" [src]="data.imageUrl" class="image">
        </div>
    </div>
    <div>
        <div>
            <p><strong>Name: </strong>{{data.name}}</p>
            <p><strong>Address: </strong>{{data.address}}</p>
            <p><strong>Phone: </strong>{{data.phone}}</p>
            <p><strong>Email: </strong>{{data.email}}</p>
        </div>
    </div>
    <div>
        <div class="imageContainer">
            <app-map></app-map>
        </div>
    </div>
</div>